doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Isometric Card Grid
    meta(name="viewport", content="width=device-width, initial-scale=1, viewport-fit=cover")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400,700")
    link(rel="stylesheet", href="./style.css")
  body
    main
      .cards
        a.stack(href="#")
          .card.top
            .contents
              h2
                strong ABC
                | Design
              h3 Ann Thrax
              | Project Manager
              br
              br
              span ✉️
              | annthrax@example.com
              br
              span 📞
              | 808-293-4613
              br
              br
              | 3801 Stratford Drive
              br
              | Laie, HI 96762
          .card.mid
            .contents
              .city Laie, HI 96762
          .card.bottom
            .contents
              .city Laie, HI 96762
          .card.shadow

        a.stack(href="#")
          .card.top
            .contents
              h2
                strong ABC
                | Design
              h3 Clint Westwood
              | Customer Support
              br
              br
              span ✉️
              | clintwestwood@example.com
              br
              span 📞
              | 865-217-3165
              br
              br
              | 2212 Brown Avenue
              br
              | Hartford, TN 37753
          .card.mid
            .contents
              .city Hartford, TN 37753
          .card.bottom
            .contents
              .city Hartford, TN 37753
          .card.shadow

        a.stack(href="#")
          .card.top
            .contents
              h2
                strong ABC
                | Design
              h3 Joe Schmoe
              | Graphic Designer
              br
              br
              span ✉️
              | joeschmoe@example.com
              br
              span 📞
              | 407-712-8549
              br
              br
              | 469 Grand Avenue
              br
              | Winter Park, FL 32789
          .card.mid
            .contents
              .city Winter Park, FL 32789
          .card.bottom
            .contents
              .city Winter Park, FL 32789
          .card.shadow

        a.stack(href="#")
          .card.top
            .contents
              h2
                strong ABC
                | Design
              h3 Don Joel
              | Web Developer
              br
              br
              span ✉️
              | donjoel@example.com
              br
              span 📞
              | 216-362-0665
              br
              br
              | 2699 Glenwood Avenue
              br
              | Brook Park, OH 44142
          .card.mid
            .contents
              .city Brook Park, OH 44142
          .card.bottom
            .contents
              .city Brook Park, OH 44142
          .card.shadow
